@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist
<div class="container">
  <div class="jumbotron">
    <h1>Edit a Stylist!</h1>
  </div>
    <div class="card card-body">
      @using (Html.BeginForm())
      {
        @Html.HiddenFor(model => model.StylistId)
        @Html.LabelFor(model => model.StylistName, "Stylist Name")
        @Html.EditorFor(model => model.StylistName, new {required = "required"})
        <button class="btn btn-dark" type="submit" >Edit</button>
        <button class="btn btn-dark" type="button" onclick='window.location.href="/stylists/details/" + @Model.StylistId.ToString()'>Cancel</button>
      }
    </div>
</div>
@Html.Partial("Header")
@Html.Partial("Footer")