@{
  Layout = "_Layout";
}

@using HairSalon.Models;
<div class="container-fluid">
  <div class="jumbotron">
    <h1>These are our stylists!</h1>
    <div>
      <button  class="btn btn-outline-dark stylist-button" >Add Stylist</button>
      <button  class="btn btn-outline-dark home-button" >Home</button>
    </div>
  </div>
  <div class="card card-body">
    @if (@Model.Count == 0)
    {
      <h3>No Stylists have been added yet!</h3>
    }
    @using (Html.BeginForm("Search","Stylists"))
    {
      
      @Html.Label("stylistName", "Search For Stylist ")
      @Html.TextBox("stylistName")
      <input type="submit" value="Search" />
    }
    <ul>
      @foreach (Stylist stylist in Model)
      {
          <li><span class="name"> @stylist.StylistName</span> | <a href="/stylists/details/@stylist.StylistId"> Details</a> </li>
      }
      
    </ul>
    
    
  </div>
  
  
  <p>@Html.ActionLink("Add a Stylist","Create")</p>
  <p>@Html.ActionLink("Home","Index","Home")</p>


</div>
@Html.Partial("Header")
@Html.Partial("Footer")