@{
  Layout = "_Layout";
}

@using HairSalon.Models;
<div class="container-fluid">
  <div class="jumbotron">
    <h1>These are our stylists!</h1>
  </div>
  @if (@Model.Count == 0)
  {
    <h3>No Stylists have been added yet!</h3>
  }
  @using (Html.BeginForm("Search","Stylists"))
{
    
    @Html.Label("stylistName", "Search For Stylist Name")
    @Html.TextBox("stylistName")
    <input type="submit" value="Save" />
}
  <ul>
    @foreach (Stylist stylist in Model)
    {
        <li>@stylist.StylistName | <a href="/stylists/details/@stylist.StylistId"> Details</a> </li>
    }
  </ul>
  <p>@Html.ActionLink("Add a Stylist","Create")</p>
  <p>@Html.ActionLink("Home","Index","Home")</p>


</div>
@Html.Partial("Header")
@Html.Partial("Footer")