@{
  Layout = "_Layout";
}
@model HairSalon.Models.Appointment
<div class="container-fluid">
  <div class="jumbotron">
    <h1>Edit Appoint!</h1>
  </div>
  <div class="card card-body">
    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.StylistId);
      @Html.HiddenFor(model => model.ClientId);
      @Html.HiddenFor(model => model.AppointmentId);
      
      @Html.Label("Client.ClientName", "Client Name")
      @Html.TextBox("Client.ClientName", Model.Client.ClientName, new {disabled = "true"})
      @Html.Label("Stylist.StylistName", "Stylist Name")
      @Html.TextBox("Stylist.StylistName",Model.Stylist.StylistName, new {disabled = "true"})
      @Html.LabelFor(model => model.AppointmentDescription, "Appointment Description")
      @Html.TextBoxFor(model => model.AppointmentDescription)
      @Html.LabelFor(model => model.AppointmentDate, "Appointment Date")
      @Html.EditorFor(model => model.AppointmentDate)
      <button type="submit" class="btn btn-dark">Edit</button>
      <button type="button" class="btn btn-dark" onclick='window.location.href="/appointments/details/" + @Model.AppointmentId.ToString()'>Cancel</button>
    }
  </div>
</div>
@Html.Partial("Header")
@Html.Partial("Footer")


 