@{
  Layout = "_Layout";
}
@using HairSalon.Models;
<div class="container-fluid">
  <div class="jumbotron">
    <h1>Appointments Scheduled</h1>
  </div>
  <div class="card card-body">
    @using (Html.BeginForm("Search","Appointments"))
    {
      @Html.Label("clientName", "Search For Appointments by Name")
      @Html.TextBox("clientName")
      <button type="submit" class="btn btn-dark">Search</button>
    }
    @if (@Model.Count == 0)
    {
      <h3>No Appoointments found!</h3>
    }
    @foreach (Appointment appointment in Model)
    {
      <ul>
        <li>Client Name:@appointment.Client.ClientName</li>
        <li>Stylist Name: @appointment.Stylist.StylistName</li>
        <li>Date: @appointment.AppointmentDate</li>
        <li><a href="/appointments/details/@appointment.AppointmentId">details</a> </li>
      </ul>
    }
  </div>
</div>
@Html.Partial("Header")
@Html.Partial("Footer")