@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client
<div class="container">
  <div class="jumbotron">
    <h1>Edit  @Model.ClientName!</h1>
  </div>
    <div class="card card-body">
      @using (Html.BeginForm())
      {
        @Html.HiddenFor(model => model.ClientId)
        @Html.LabelFor(model => model.ClientName, "Client Name")
        @Html.EditorFor(model => model.ClientName, new {required = "required"})
        @Html.LabelFor(model => model.ClientPhone)
        @Html.EditorFor(model => model.ClientPhone)
        @Html.LabelFor(model => model.ClientEmail)
        @Html.EditorFor(model => model.ClientEmail)
        @Html.LabelFor(model => model.Stylist)
        @Html.DropDownList("StylistId")

        <button class="btn btn-dark" type="submit" >Edit</button>
        <button type="button" class="btn btn-dark" onclick='window.location.href="/clients/details/" + @Model.ClientId.ToString()'>Cancel</button>
      }
    </div>
</div>
@Html.Partial("Header")
@Html.Partial("Footer")